{% extends 'base.html' %}
{% load static %}

{% block title %}
   My Migraines Dashboard 
{% endblock %}
{% block css %}
{% endblock %}	
{% block body %}
  <main class="container" role="main">
    <h1 class="title">My Migraine Health</h1>
    <div class ="row">
<!--Add custom css file to static resources and change the layout of these columns-->
    <div class="col  bg-secondary">
      <h2 class="subtitle">Time</h2>Contain Number of Migraines in
      Last 30 days.
    </div>
    <div class="col bg-success">
      <h2 class="subtitle">Severity at Start</h2>Severity by Percentage.
    </div>
    <div class="col bg-danger">
      <h2 class="subtitle">Weather at Start</h2>High/Low Pressure, temperature.
    </div>
    </div>
  </main>
{% if request.user.is_authenticated %}
<div class = container>
<table class="table">
  <thead>
    <tr>
       {% for k in header %}
       <th>{{k}}</th>
       {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for r in rows %}
    <tr>
      <td>{{r.user}}</td>
      <td>{{r.id}}</td>
      <td>{{r.mgstart_stage}}</td>
      <td>{{r.mgstart_medicine}}</td>
      <td>{{r.mgstart_time}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endif %}
{% endblock %}
