{% extends 'base.html' %}
{% load static %}

{% block title %}
    Index
{% endblock %}
{% block css %}
{% endblock %}	
{% block body %}
  <main class="container" role="main">
      <h1 class="title">
        My Migraine Health
      </h1>
      <p class="subtitle">
      	Contain Number of Migraines in Last 30 days. 
	Average Severity. 
	Migraines During Low Pressure. 
	Migraines During High Pressure. 
      </p>
  </main>
{% if request.user.is_authenticated %}
<table class="table">
  <thead>
    <tr>
       {% for k in header %}
       <th>{{k}}</th>
       {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for r in rows %}
    <tr>
      <td>{{r.id}}</td>
      <td>{{r.mgstart_stage}}</td>
      <td>{{r.mgstart_medicine}}</td>
      <td>{{r.mgstart_time}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
