{% extends 'base.html' %}
{% load static %}

{% block title %}
   Tour 
{% endblock %}
{% block css %}
{% endblock %}	
{% block body %}
  <main class="container" role="main">
    <h1 class="title">Get to know the system.</h1>
    <div class ="row">
      Migraine tracker helps you track when your migraines
      and why. 
    </div>
    <div class ="row">
      Create an account and then simply log every migraine that you get.

      Logging migraines is incredibly easy to do so you don't need to fill a bunch
      of fields out when logging the migraine. 
      <p>[PICTURE OF ENTRY FORM] </p> 
    </div>
    <div class ="row">
      You can use the dashboard page to see the stats on all the migraines you've
      logged. You can also update ongoing migraines from this page and edit migraines
      you've logged in the pase. 
      <p>[PICTURE OF DASHBOARD PAGE] </p> 
    </div>
  </main>
{% endblock %}
