{% extends 'base.html' %}
{% load static %}

{% block title %}
  Why track your migraines? 
{% endblock %}
{% block css %}
{% endblock %}	
{% block body %}
  <main class="container" role="main">
    <h1 class="title">Why track your migraines?</h1>
    <div class ="row">
	Tracking your migraines can help you identify triggers. 
    </div>
    <div class ="row">
	There are literally thousands of triggers for migraines and
	everyone's triggers are unique to them. 
      <p>[PICTURE OF MIGRAINE TRIGGERS] </p> 
    </div>
    <div class ="row">
	Migraine tracker lets you track the things you think are your triggers. 
      <p>[PICTURE OF DASHBOARD PAGE] </p> 
    </div>
  </main>
{% endblock %}
