{% extends 'base.html' %}
{% load static %}

{% block title %}
    Form
{% endblock %}
{% block css %}

{% endblock %}	
{% block body %}
  <section class="section">
    <div class="container">
      <div class="field">
        <label class="label">Migraine Start Time</label>
        <div class="control">
          <input class="input" type="datetime-local" placeholder="">
        </div>
      </div>
      <div class="field">
        <label class="label">Migraine Start Stage</label>
        <div class="control">
          <div class="select">
            <select>
              <option>
                Before 
              </option>
              <option>
                Start 
              </option>
              <option>
                Middle 
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Medicine Taking Now</label>
        <div class="control">
          <div class="select">
            <select>
              <option>
                Advil 
              </option>
              <option>
                Maxol 
              </option>
              <option>
                Imitrex 
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-text">Cancel</button>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
